NEXT_PUBLIC_API_HOST=${API_HOST}
NEXT_PUBLIC_API_PORT=${API_PORT}
NEXT_PUBLIC_API_PROTOCOL=${API_PROTOCOL}
NEXT_PUBLIC_STATS_API_HOST=${STATS_API_HOST}
NEXT_PUBLIC_VISUALIZE_API_HOST=${VISUALIZE_API_HOST}
NEXT_PUBLIC_APP_HOST=${APP_HOST}
NEXT_PUBLIC_APP_PORT=${APP_PORT}
NEXT_PUBLIC_APP_INSTANCE=${APP_INSTANCE}
NEXT_PUBLIC_APP_ENV=${APP_ENV}
NEXT_PUBLIC_NETWORK_NAME=${NETWORK_NAME}

NEXT_PUBLIC_NETWORK_ID=${NETWORK_ID}

NEXT_PUBLIC_AD_BANNER_PROVIDER=${AD_BANNER_PROVIDER}
NEXT_PUBLIC_AD_TEXT_PROVIDER=${AD_TEXT_PROVIDER}

NEXT_PUBLIC_NETWORK_CURRENCY_DECIMALS=${NETWORK_CURRENCY_DECIMALS}
NEXT_PUBLIC_NETWORK_CURRENCY_NAME=${NETWORK_CURRENCY_NAME}
NEXT_PUBLIC_NETWORK_CURRENCY_SYMBOL=${NETWORK_CURRENCY_SYMBOL}

NEXT_PUBLIC_HOMEPAGE_CHARTS=${HOMEPAGE_CHARTS}
NEXT_PUBLIC_HOMEPAGE_STATS=${HOMEPAGE_STATS}
NEXT_PUBLIC_NAVIGATION_HIDDEN_LINKS=${NAVIGATION_HIDDEN_LINKS}

NEXT_PUBLIC_API_SPEC_URL=${API_SPEC_URL}
NEXT_PUBLIC_GRAPHIQL_TRANSACTION=${GRAPHIQL_TRANSACTION}
NEXT_PUBLIC_WEB3_WALLETS=${WEB3_WALLETS}

NEXT_PUBLIC_HIDE_INDEXING_ALERT_BLOCKS=${HIDE_INDEXING_ALERT_BLOCKS}
NEXT_PUBLIC_HIDE_INDEXING_ALERT_INT_TXS=${HIDE_INDEXING_ALERT_INT_TXS}

NEXT_PUBLIC_VERIFIED_CONTRACTS_ENABLED=${VERIFIED_CONTRACTS_ENABLED}
NEXT_PUBLIC_TOKENS_ENABLED=${TOKENS_ENABLED}
NEXT_PUBLIC_TOKEN_TRANSFERS_ENABLED=${TOKEN_TRANSFERS_ENABLED}
NEXT_PUBLIC_CONTRACT_VERIFICATION_ENABLED=${CONTRACT_VERIFICATION_ENABLED}
NEXT_PUBLIC_GAS_TRACKER_ENABLED=${GAS_TRACKER_ENABLED}

NEXT_PUBLIC_HIDE_FOOTER=${HIDE_FOOTER}

NEXT_PUBLIC_VIEWS_TX_HIDDEN_FIELDS=${VIEWS_TX_HIDDEN_FIELDS}
NEXT_PUBLIC_VIEWS_BLOCK_HIDDEN_FIELDS=${VIEWS_BLOCK_HIDDEN_FIELDS}